//color variable
$bg-color: #FFFFFF;
$color-primary01: #49DEFF;
$color-primary02: #4FFFDF;
$color-primary03: #303030;
$color-secondary01: #4E4E4E;
$color-secondary02: #DEDEDE;
$color-secondary03: #F4F4F4;
$color-secondary04: #F9F9F9;

//font variable
$font-jost: 'Jost', sans-serif;
$font-openSans: 'Open Sans', sans-serif;

//style global
* {
    box-sizing: border-box;
    font-family: $font-jost;
    list-style: none;
    text-decoration: none
}

body{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
