#choice {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: -35px;
    z-index: 5;
    min-height: 43rem;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 0;
    overflow: hidden;
    background-image: url("../../public/assets/bg-choice.png");
    background-size: 44% 42rem;
    background-repeat: no-repeat;
    background-position: right;
    @include container;

    @include screen(small) {
        height: max-content;
        background-size: 60% 24rem;
        background-position: right top;
        margin-top: 2.6rem;
    }

    @include screen(medium) {
        height: max-content;
        background-size: 27% 20rem;
        margin-top: -2.6rem;
    }

    .section-cover {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    .section-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;

        @include screen(small) {
            margin-top: -14px;
        }

        .header {
            width: 89%;

            h3 {
                color: $color-primary03;
                font-weight: 600;
            }

            p {
                margin-top: 0.9rem;
                color: $color-secondary01;
                font-size: 17px;
                font-family: $font-openSans;
                width: 95%;
            }
        }

        .points {
            margin-top: 1.5rem;

            .box-points {
                width: 100%;
                height: 100%;

                &__img {

                    img {
                        width: 42px;
                        object-fit: cover;
                    }
                }


                #col-1 {
                    img {
                        width: 61px;
                    }
                }

                &__content {
                    margin-top: 17px;

                    h5 {
                        color: $color-primary03;
                        font-weight: 600;
                    }

                    p {
                        color: $color-secondary01;
                        font-family: $font-openSans;
                    }
                }
            }
        }

        .button {
            margin-top: 1.5rem;

            .btn {
                padding-left: 32px;
                padding-top: 9px;
                padding-bottom: 9px;
                border-radius: 5px;
                padding-right: 32px;
                background-color: $color-primary03;
                color: #fff;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
}