@import "./content/color.scss";
@import "./content/text.scss";
@import "./content/paragraph.scss";
@import "./content/List.scss";
@import "./content/quotes.scss";

#content {
    width: 100%;
    overflow: hidden;
    padding-top: 1rem;


    &__container {
        width: 100%;
        @include container;
    }
}