#core-features {
    width: 100%;
    position: relative;
    z-index: 12;
    min-height: 40rem;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("../../public/assets/bg-corefeatures.png");
    background-size: 38% 40rem;
    background-repeat: no-repeat;
    @include container;

    @include screen(small) {
        height: max-content;
        background-size: 60% 24rem;
    }

    .section-cover {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    .section-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header {
            h3 {
                color: $color-primary03;
                font-weight: 600;
            }

            p {
                margin-top: 0.9rem;
                color: $color-secondary01;
                font-size: 17px;
                font-family: $font-openSans;
                width: 95%;

                @include screen(small) {
                     width: 100%;
                }
            }
        }

        .points {
            width: 95%;
            margin-top: -10px;

            @include screen(small) {
                margin-top: -5px;
            }

            .item {
                margin-top: 3rem;

                @include screen(small) {
                     margin-top: 1.5rem;
                }

                .subtitle {

                    h5 {
                        color: $color-primary03;
                        font-weight: 600;
                    }
                }

                .text {
                    padding-left: 53px;

                    p {
                        color: $color-secondary01;
                        font-family: $font-openSans;
                    }
                }
            }
        }
    }
}