.box-feature {
    width: 100%;
    border-radius: 5px;
    padding: 28px;

    &__img {
        img {
            width: 45px;
        }
    }

    &__content {
        margin-top: 1rem;
    }
}

#box-2 {
    box-shadow: 0 8px 22px rgb(224, 224, 224);
}