#features{
    width: 100%;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include container;

     .section-header{
        text-align: center;

        h4 {
            color: $color-primary03;
            font-weight: 600;
        }

        p{
            margin-top: 0.9rem;
            color: $color-secondary01;
            font-size: 17px;
            margin: auto;
            width: 60%;
        }
     }
}