#footer {
    width: 100%;
    height: 100%;
    background-color: $color-primary03;
    padding-top: 4rem;
    padding-bottom: 2rem;
    overflow: hidden;
    @include container;

    .col-3{
        margin-bottom: 0;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {
            img {
                width: 150px;
            }
        }

        .social-icons {
            display: flex;
            flex-direction: row;
            gap: 18px;

            img {
                width: 20px;
            }
        }
    }

    .navigation {
        width: 100%;
        margin-top: 2.6rem;

        .links {

            .title {
                width: 100%;
                border-bottom: 1px solid #817f7f;
                border-top: 1px solid #817f7f;
                padding-bottom: 10px;
                padding-top: 15px;

                h5 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 20px;
                }
            }

            .link-container {
                margin-top: 30px;

                .links-item {
                    margin-top: 10px;

                    p {
                        color: #fff;
                        margin-bottom: 0;
                        font-family: $font-openSans;
                        font-size: 15.5px;
                    }
                }
            }
        }

        .services {

            .title {
                width: 100%;
                border-bottom: 1px solid #817f7f;
                border-top: 1px solid #817f7f;
                padding-bottom: 10px;
                padding-top: 15px;

                h5 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 19.6px;
                }
            }

            .services-container {
                margin-top: 30px;

                .services-item {
                    margin-top: 10px;

                    p {
                        color: #fff;
                        margin-bottom: 0;
                        font-family: $font-openSans;
                        font-size: 15.5px;
                    }
                }
            }
        }

        .contact {

            .title {
                width: 100%;
                border-bottom: 1px solid #817f7f;
                border-top: 1px solid #817f7f;
                padding-bottom: 10px;
                padding-top: 15px;

                h5 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 19.6px;
                }
            }

            .contact-container {
                margin-top: 30px;

                .item {
                    margin-top: 10px;
                    width: 90%;
                    border: 1px solid #504e4eee;
                    padding: 19px;
                    border-radius: 14px;

                    p {
                        color: #fff;
                        margin-bottom: 0;
                        font-family: $font-openSans;
                        font-size: 15.5px;
                    }
                }
            }
        }

        .blog{
            height: 70%;
            width: 100%;

            .title {
                width: 100%;
                border-bottom: 1px solid #817f7f;
                border-top: 1px solid #817f7f;
                padding-bottom: 10px;
                padding-top: 15px;

                h5 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 19.6px;
                }
            }

            .blog-container {
                margin-top: 30px;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                background-image: url(../../public/assets/footer-blog.png);
                background-size: cover;

                 .button{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                     .btn{
                        padding: 10px 35px 10px 35px;
                        background-color: #ffffffcc;
                        border-radius: 3px;
                        color: $color-primary03;
                        font-weight: 600;
                     }
                 }
            }
        }
    }
}