    #functioning {
        width: 100%;
        overflow: hidden;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 11%;

        @include screen(small) {
          @include container;      
          padding-top: 1.6rem; 
        }

        @include screen(medium){
            @include container;
            margin-top: -0.5rem;
        }

        .section-header {

            .title {
                h3 {
                    color: $color-primary03;
                    font-weight: 600;
                }

                p {
                    margin-top: 0.3rem;
                    color: $color-secondary01;
                    font-size: 17px;
                    font-family: $font-openSans;
                }
            }

            .points {
                width: 85%;
                margin-top: 67px;

                @include screen(medium){
                    margin-top: 45px;
                }

                .item {
                    margin-top: 2rem;
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    @include screen(medium){
                         margin-top: 1rem;
                    }

                    .img {
                        img {
                            width: 25px;
                        }
                    }

                    .text {

                        .subtitle {

                            h5 {
                                color: $color-primary03;
                                font-weight: 600;


                            }
                        }

                        .text {

                            p {
                                color: $color-secondary01;
                                font-family: $font-openSans;
                            }
                        }
                    }
                }
            }
        }

        .section-appmobile {
            background: #F6F6F6;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            gap: 30px;

            @include screen(small) {
               flex-direction: column;
               gap: 0;
            }

            .text {
                height: 100%;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 60px;

                @include screen(small) {
                    width: 100%;
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                    padding-left: 30px;
                    padding-right: 30px;
                }

                @include screen(medium){
                     padding-left: 40px;
                     padding-top: 4rem;
                     padding-bottom: 4rem;
                }

                h3 {
                    color: $color-primary03;
                    font-weight: 600;

                    @include screen(small) {
                        font-size: 22px;
                    }
                }

                h5 {
                    margin-top: 10px;
                    color: $color-primary02;
                }

                p {
                    margin-top: 10px;
                    color: $color-secondary01;
                    font-size: 17px;
                    font-family: $font-openSans;
                }

                .icons{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    margin-top: 1.5rem;

                     img{
                        width: 150px;

                        @include screen(small) {
                            width: 100px;
                        }
                     }
                }
            }

            .img{
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                @include screen(small) {
                    width: 100%;
                }

                 img{
                    width: 100%;

                    @include screen(small) {
                         width: 130px;
                    }
                 }
            }
        }
    }