#heading {
    width: 100%;
    height: max-content;
    overflow: hidden;
    padding-top: 5.4rem;
    padding-bottom: 6rem;

    .title {
        text-align: center;

        h3 {
            color: $color-primary03;
            font-weight: 600;
        }
    }

    .text {
        text-align: center;
        margin-top: 15px;

        p {
            color: $color-secondary01;
            font-size: 17px;
            width: 42%;
            margin: auto;
        }
    }
}