#hero {
    width: 100%;
    overflow: hidden;
    padding-left: 11%;

    @include screen(small) {
        margin-top: 2.8rem;
        background-size: cover;
        background-position: right center;
        background-image: url("../../public/assets/Background.png");
        @include container;
    }

    @include screen(medium) {
        margin-top: 2.8rem;
        background-size: cover;
        background-position: right center;
        background-image: url("../../public/assets/Background.png");
        @include container;
    }


    .section-cover {
        width: 100%;
        height: 105vh;
        z-index: 5;
        padding-left: 8%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-image: url("../../public/assets/background.svg");

        @include screen(medium) {
            height: 100vh;
        }

        @include screen-x(1022px, 1110px) {
          height: 100vh;
        }

    }

    .section-header {
        width: 100%;
        height: 110vh;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 500;
        justify-content: center;

        @include screen(small) {
            height: 100vh;
        }

        @include screen(medium) {
            height: 100vh;
        }

        .title {

            h1 {
                font-weight: 600;
                color: $color-primary03;

                @include screen(small) {
                    font-size: 27px;
                }

                @include screen-x(310px, 340px) {
                    font-size: 24px;
                }

                @include screen-x(1022px, 1110px) {
                    font-size: 28px;
                }
            }
        }

        .text {
            margin-top: 0.8rem;

            p {
                color: $color-secondary01;
                font-size: 17px;
                font-family: $font-openSans;
            }
        }

        .buttons {
            margin-top: 0.8rem;
            display: flex;
            flex-wrap: nowrap;

            #btn-1 {
                padding-left: 32px;
                padding-top: 7px;
                padding-bottom: 7px;
                border-radius: 5px;
                padding-right: 32px;
                background-color: $color-primary03;
                color: #fff;
                font-weight: bold;
                font-size: 15px;
            }

            #btn-2 {
                padding-left: 32px;
                padding-top: 7px;
                padding-bottom: 7px;
                padding-right: 32px;
                font-weight: 600;
            }
        }

        .line {
            margin-top: 2.2rem;
            width: 100%;
            height: 1.4px;
            background-color: #DEDEDE;

            @include screen(medium) {
                width: 55%;
            }
        }

        .FiveStar {
            display: flex;
            margin-top: 2rem;
            flex-direction: row;
            gap: 20px;

            .five-border {
                width: 30px;

                @include screen(small) {
                    width: 27px;
                }
            }

            .five-logo {
                img {
                    width: 70px;
                    object-fit: cover;

                    @include screen(small) {
                       width: 61px;
                    }
                }
            }

            .five-star {

                h5 {
                    font-family: $font-openSans;
                    font-weight: 700;
                    margin: 0;

                    @include screen(small) {
                       font-size: 19px;
                     }
                }

                p {
                    font-size: 17px;
                    margin: 0;
                    color: $color-secondary01;
                    font-weight: 400;

                    @include screen(small) {
                         font-size: 15px;
                         margin-top: 5px;
                      }
                }

                img {
                    width: 120px;

                    @include screen(small) {
                        width: 95px;
                        margin-top: 3px;
                      }
                }
            }
        }
    }
}

.polygon {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    overflow: hidden;
    height: 100%;

    @include screen(small) {
        display: none;
    }

    @include screen(medium) {
        display: none;
    }

    
    img {
        width: 28px;

        @include screen(small) {
            width: 24px;
        }

    }

    #p6 {
        position: absolute;
        z-index: 10;
        top: 24rem;
        left: 2rem;

        @include screen(small) {
            left: 1rem;
        }
    }

    #p7 {
        position: absolute;
        z-index: 10;
        top: 6rem;
        left: 4rem;
         
        @include screen(small) {
           left: 15rem;
        }

        @include screen(medium) {
            left: 20rem;
            top: 9rem;
        }
    }

    #p3 {
        position: absolute;
        z-index: 10;
        top: 32rem;
        left: 34rem;
        transform: rotate(-45deg);

        @include screen(small) {
            left: 20rem;
        }

        @include screen(medium) {
            top: 35rem;
        }
    }

    #p2 {
        position: absolute;
        z-index: 10;
        top: 20rem;
        left: 45rem;
        transform: rotate(-45deg);

        @include screen(small) {
           left: 15rem;
        }

        @include screen(medium) {
            left: 15rem;
        }
    }

    #p4 {
        position: absolute;
        z-index: 10;
        top: 25rem;
        left: 38rem;
        transform: rotate(-45deg);
         
        @include screen(small) {
           left: 25rem;
        }

        @include screen(medium) {
            left: 20rem;
        }
    }

    #p1 {
        position: absolute;
        z-index: 10;
        top: 20rem;
        right: 5rem;
        transform: rotate(-45deg);
         
        @include screen(small) {
           right: 25rem;
        }
    }


}