#products {
    width: 100%;
    overflow: hidden;
    margin-top: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include container;
    

    @include screen(small) {
        margin-top: 1.2rem;           
    }

    @include screen(medium) {
        padding-top: 5rem;
    }

    .section-header {
        text-align: center;

        h3 {
            color: $color-primary03;
            font-weight: 600;
        }

        p {
            margin-top: 0.9rem;
            color: $color-secondary01;
            font-size: 17px;
            font-family: $font-openSans;
            margin: auto;
            width: 60%;
            
            @include screen(small) {
                width: 100%;   
            }
        }
    }

    .section-content {
        margin-top: 2.4rem;
        width: 100%;
        display: flex;
        justify-content: center;

        .products-container {
            background: #F6F6F6;
            width: 100%;
            border-radius: 20px;
            border: 2px dashed rgb(194, 192, 192);
            padding: 47px 15px 40px 15px;


            @include screen(medium){
                 padding: 52px 18px 62px 18px;
            }
        }
    }

}

#product-3{

    @include screen(medium){
        margin: auto;
        position: relative;
        top: 1rem;
    }
}