#testimonial {
    width: 100%;
    height: max-content;
    overflow: hidden;
    background: $color-primary03;
    margin-top: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    @include container;

    @include screen(small) {
       padding-left: 5%;
       padding-right: 5%;
    }

    &__container {
        width: 100%;
        height: 100%;   

        .pattern {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            top: -30px;
            z-index: 20;

            img {
                width: 90%;
                height: 100%;
                object-fit: contain;
            }
        }

        .testimonial-card {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            margin-top: -16rem;
            position: relative;
            z-index: 40;

            @include screen(small) {
                margin-top: -7rem;
            }

            .btn-left {
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @include screen(small) {
                    width: 6%;
                }

                img {
                    width: 100px;

                    @include screen(small) {
                       width: 80px;
                    }
                }
            }

            .btn-right {
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                @include screen(small) {
                    width: 6%;
                }

                img {
                    width: 100px;

                    @include screen(small) {
                        width: 80px;
                    }
                }
            }

            .content {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include screen(small) {
                    width: 88%;
                }

                .profile {
                    img {
                        width: 210px;
                        object-fit: cover;

                        @include screen(small) {
                            width: 137px;
                        }
                    }
                }

                .name {
                    margin-top: 10px;

                    h3 {
                        color: #fff;
                        font-weight: 600;
                    }
                }

                .job {

                    p {
                        color: #fff;
                        font-family: $font-openSans;
                    }
                }

                .rating {

                    img {
                        width: 120px;
                    }
                }

                .content {
                    margin-top: 20px;
                    text-align: center;

                    p {
                        color: #fff;
                        font-family: $font-openSans;
                        font-size: 17px;

                        b {
                            color: $color-primary02;
                        }
                    }
                }
            }
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: #a39f9f;
            margin-top: 4rem;

            @include screen(small) {
                margin-top: 1.4rem;
            }
        }

        .statistics {
            width: 100%;
            margin-top: 2rem;

            #container {
                display: flex;
                align-items: center;
                flex-direction: column;

                .stat {
                    h3 {
                        color: #fff;
                        font-weight: 600;
                    }

                    #elt-1 {
                        span {
                            color: #47CFFF;
                        }
                    }

                    #elt-2 {
                        span {
                            color: #FFB545;
                        }
                    }

                    #elt-3 {
                        span {
                            color: #47DD56;
                        }
                    }

                    #elt-4 {
                        span {
                            color: #FF5454;
                        }
                    }
                }

                .label{
                    p{
                        color: #fff;
                    }
                }
            }

        }
    }
}