#color {
    width: 100%;
    display: flex;
    flex-direction: row;

    .section-header {
        margin-top: 2px;

        h2 {
            color: $color-primary03;
            font-weight: 600;
            width: 22rem;
        }
    }

    .section-content {
        width: 100%;

        .section-primary {
            width: 100%;
            padding: 0;
            margin-top: -10px;
        }

        .section-secondary {
            width: 100%;
            padding: 0;
            margin-top: -10px;
        }
    }
}