#paragraph {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 4.6rem;

    .section-header {
        margin-top: 2px;

        h2 {
            color: $color-primary03;
            font-weight: 600;
            width: 22rem;
        }
    }

    .section-content{
        margin-top: -5px;

        p{
            color: #4E4E4E;
            font-weight: 500;
            font-size: 17px;
        }
    }
}